<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="/static/indexstyle.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/static/hellacutetransparent.png" class="logo">
        </div>

        <div class="content">
            <h1>One space for all the makeup lovers</h1>
            <p>Become a part of the community</p>
            <button>
                <a href="/login" type="button"><span></span>LOGIN</a>
            </button>
            <button>
                <a href="/register" type="button"><span></span>REGISTER</a>
            </button>
        </div>

    </div>

</body>
</html>
